@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Exo";
    src:
        url("/fonts/exo-medium.woff2") format("woff2"),
        url("/fonts/exo-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
        url("/fonts/montserrat-regular.woff2") format("woff2"),
        url("/fonts/montserrat-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer components {
    .bregtec-button {
        @apply bg-primary font-display rounded px-16 py-4;
        display: block;
        width: fit-content;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    .bregtec-button::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 35%;
        height: 110%;
        background-image: url('/img/arrows.webp');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.2;
        transition: transform 0.3s ease-in-out;
    }

    .bregtec-button:hover::after {
        transform: translateX(300%);
    }

}